/* Contenedor principal */
.contenedor {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* Botones de pestañas */
.tab_btn {
    padding: 15px 20px;
    font-size: 16px;
    font-weight: 600;
    font-family: sans-serif;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
}

/* Header general */
#general-header {
    display: flex;
    justify-content: space-around;
    background: #11aedd;
    color: white;
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
}

/* Margen para que el contenido no esté oculto por el header */
body {
    margin: 0;
    padding: 0;
    padding-top: 50px;
}

/* Estilo hover para los botones */
.tab_btn:hover {
    color: yellow;
}

/* Ajustar el espacio entre columnas */
.contenedor-data {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

/* Información general */
.info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
    flex-wrap: wrap; /* Asegurar que los elementos se alineen bien en pantallas pequeñas */
}

/* Ajustes a los contenedores de mapa */
#contenedor-mapa, #contenedor-mapa-2, #contenedor-mapa-3 {
    width: 100%;
    height: auto;
    min-height: 400px;
    border-radius: 10px;
}

/* Posicionamiento para información específica */
.datos-especifico {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 1.1em;
}

/* Otros estilos */
.historical, .position {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.position {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.fechas{
    display: flex;
    flex-direction: row;
}




/* Control de visibilidad de botones y contenedores */
.contenedor-position .contenedor-info {
    opacity: 0;
    pointer-events: none;
}

.contenedor-position .contenedor-btn {
    opacity: 1;
    pointer-events: auto;
}

.contenedor-position .contenedor-info.activo {
    opacity: 1;
    pointer-events: auto;
}

.contenedor-position .contenedor-btn.activo {
    opacity: 0;
    pointer-events: none;
}
